
.modal-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(6px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}


.modalCloseBtn {
  display: flex;
  justify-content: flex-start;
  width: 25px
}

.modalCloseBtn button {
  background-color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-container {
  width: 700px;
  height: 450px;
  border-radius: 12px;
  background-color: rgb(232, 232, 232);
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


 .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  text-align: center;
}

.qa-set {
  columns: 2;
  display: flex;
  position: relative;
  border-style: dotted;
  justify-content: flex-start;
  max-width: 800px;
}

.questionBody {
  border: red;
  border-style: groove;
  width: 500px;
}

.helpful-button {
  display: flex;
  border: blue;
  border-style: ridge;
  width: 140px;
  justify-content: flex-start;
  margin: 0 20px 20px 0
}

.answerMisc {
  display: flex;
  border: violet;
  border-style: ridge;
  justify-content: flex-start;
}

.scrollQuestions {
  max-height: 500px;
  overflow: scroll;
}

.scrollAnswers {
  max-height: 100px;
  overflow: scroll;
}