
.qa-container {
  display: flex;
  justify-content: center;
}

.qa-box {
  width: 82%;
  min-width: 1500px;
  margin-right: 10%;
  margin-left: 10%;
}


.modal-background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(6px);
  position: fixed;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 1000
}


.modalCloseBtn {
  display: flex;
  justify-content: flex-start;
  width: 50px
}

.modalCloseBtn button {
  background-color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal-container {
  width: 700px;
  height: 450px;
  border-radius: 12px;
  background-color: rgb(232, 232, 232);
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
}


 .body {
  flex: 50%;
  display: flex;
  /* justify-c/ontent: center; */
  align-items: center;
  font-size: 12px;
  /* text-align: center; */
}

.qa-set-container {
  border-bottom: 1px solid gray;
  /* display: grid;
  grid-template-columns: repeat(3,1fr); */
}

.qa-set {
  /* columns: 2;
  display: flex;
  align-items: baseline;
  position: relative;
  justify-content: flex-start;
  max-width: 800px; */
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.questionBody {
  grid-column: 2 / span 7;
  margin-top: 20px;
}

.answer {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(8, 1fr);
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid gray;
}

.answerBody {
  grid-column: 1 / span 5;
}

.helpful {
  grid-column: 7 / span 1;
}

.helpful-button {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 20px;

}

.answerMisc {
  display: flex;
  justify-content: flex-start;
}

.scrollQuestions {
  max-height: 500px;
  overflow: scroll;
  border: 1px solid gray;
  border-radius: 5px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid gray;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}

.scrollAnswers {
  max-height: 100px;
  overflow: scroll;
}