/* REVIEW PHOTO MODAL */

.reviewThumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 100px; /* Set a small width */
  flex-flow: row;
}

.reviewPhotoModalBackground {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  backdrop-filter: blur(6px);
}

.reviewPhotoModalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 300px;
}

.reviewPhotoModalCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.reviewPhotoModalCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.reviewPhotoModalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.expandedReviewImg {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 500px; /* Set a small width */
  flex-flow: row;
}

.scrollReviews {
  max-height: 1000px;
  overflow: scroll;
}

.scrollReviews .reviewCard:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.scrollReviews .reviewCard:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid gray;
}

.reviewCard {
  border: 1px solid gray;
  border-bottom: none;
  box-sizing: border-box;
  padding: 1em;
  justify-content: normal;
}

.starbox {
  display: inline-grid;
  background-color: green;
}

.starbox div {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  font-size: 24px;
}

.moreBtn {
  background: none!important;
  border: none;
  padding: 0!important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.rarAppTopLevel {
  font: Garamond;
}

.ratingBreakdown .highlight {
  background-color: yellow;
}

.starPicker .star input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}


/* NEW REVIEW MODAL */

.newReviewModalBackground {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
}

.newReviewModalContainer {
  width: 700px;
  border-radius: 12px;
  background-color: rgb(232, 232, 232);
  box-shadow: black 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
}

.newReviewModalContainer h4 {
  margin-bottom: 2px;
}

.newReviewModalContainer h5 {
  margin-top: 0;
  margin-bottom: 5px;
}

.twoColumn {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr 3fr);
  gap: 10px;
}

.rightAlign {
  text-align: right;
}

.newReviewModalContainer label.required span:first-child::after {
  content: "*";
}

.fourCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.newReviewModalContainer .right {
  float: right;
}