.carousel {
  overflow: hidden;
  width: 90%;
  position: relative;
  left: 50px;
}

.related-box {
  white-space: nowrap;
  transition: transform 0.3s;
  position: relative;
}

.carousel-button {
  cursor: pointer;
  position: absolute;
  top: 50%;
}

.card {
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  height: 400px;
  position: relative;
}

.cardItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 5px solid gray;
  width: 200px;
  height: 100%;
  box-sizing: content-box;
}

.img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card-text {
  border: 5px solid gray;
  object-fit: contain;
  height: 100%;
}

.starbox {
  display: inline-grid;
}

.starbox div {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  font-size: 24px;
}

.sale {
  color: red;
}

.price {
  text-decoration: line-through;
}

.carousel-button-left {
  left: 0px;
}

.carousel-button-right {
 right: 0px;
}

.outer-container {
  position: relative;
  width: 50%;
}

.card-button {
  top: 5px;
  right: 25px;
  position: absolute;
}

.reviewCard {
    display: flex;
    flex-direction: row;
    border: 10px solid gray;
    width: 600px;
    box-sizing: border-box;
    flex-flow: wrap;
    flex: auto;
    justify-content: normal;
}
