.logoPicture {
  display: inline-flex;
  justify-content: right;
  height: 100px;
  position: relative;
}


h1 {
  color: black;
  font: bold 24px/45px Garamond;
  letter-spacing: -1px;
  padding: 10px;
}

.compare-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-bar {
  font: Garamond;
}