

.logoPicture {
  display: inline-flex;
  justify-content: right;
  height: 100px;
  position: relative;
}

h1 {
  color: black;
  font: bold 35px/45px Garamond;
  letter-spacing: 7px;
  padding: 10px;
  margin-left: 222px;
}

.compare-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-bar {
  font: Garamond;
  display: flex;
  justify-content: space-between;
}

#app {
  font: Garamond;
}

.searchButton {
  background: #2b2b2b;
  color: white;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  border-radius: 0.25rem;
  margin-right: 10px;
}