.overview {
  border: 5px solid gray;
  background: gray;
  position: relative;
}

.currentPhoto {
  position: relative;
  top: 100px;
  left: 600px;
  height: 750px;
  width: 500px;
}

.productThumbnails {
  position: absolute;
  display: flex;
  flex-direction: column;
}

#productPhotos {
  position: relative;
  left: 20px;
  bottom: 700px;
  padding: 5px;
  width: 80px;
}

#shareButton {
  cursor: pointer;
}

#cartButton{
  cursor: pointer;
}

.productDetailsContainer{
  display: flex;
  position: relative;
  flex-direction: column;
}

#productDescription {
  position: relative;
  top: 50px;
  left: 300px;
  font: italic small-caps bold 20px sans-serif;
}

#productStarRating {
  position: relative;
  bottom: 652px;
  left: 1110px;
}

#productReviews {
  position: relative;
  bottom: 645px;
  left: 1110px;
  font: italic small-caps bold 15px sans-serif;
}

#productName {
  position: relative;
  font: italic small-caps bold 30px/30px sans-serif;
  left: 1110px;
  bottom: 50px;
}

#productPrice {
  position: relative;
  font: italic small-caps bold 20px/30px sans-serif;
  left: 1110px;
  bottom: 50px;
}

#productCategory {
  position: relative;
  font: italic small-caps bold 20px sans-serif;
  left: 1110px;
  bottom: 50px;
}

.stylesContainer {
  position: relative;
  bottom: 50px;
  left: 700px;
  display: flex;
  flex-direction: row;
}

#moreStyles {
  padding: 5px;
  height: 50px;
}

.sizeSelector {
  position: relative;
  left: 1110px;
  bottom: 150px;
}