.productName {
  font: italic small-caps bold 30px/30px sans-serif;
}

.productPrice {
  font: italic small-caps bold 20px/30px sans-serif;
}

.styleSelector {
  border: 5px solid gray;
  display: inline-flex;
  justify-content: right;
  height: 150px;
  position: relative;
}

.moreStyles {
  padding: 5px;
}

.styleThumbnail {
  padding: 5px;
}

.stylePhotos {
  border: 5px solid gray;
  display: inline-flex;
  justify-content: right;
  height: 200px;
  position: relative;
}

.overview {
  border: 5px solid gray;
}

.defaultStyle {
  width: 400px;
};